.App {
    font-family: Arial, sans-serif;
    position: relative; /* Necessary for absolute positioning of popup */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"] {
    width: calc(100% - 40px); /* Adjusted width */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    display: block; /* Ensures the button appears on a new line */
    width: 100%; /* Make button full width */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Add margin to separate from input */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h6 {
    font-size: 16px;
  }
  .modal.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensure full width of the screen */
    height: 100%; /* Ensure full height of the screen */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1000; /* Ensure the overlay is on top of other elements */
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Ensure the modal content is on top of the overlay */
  }
  
  
  